<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LauncherLight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <LauncherLight.Properties.Settings>
      <setting name="GamePath" serializeAs="String">
        <value>D:\Program Files (x86)\Assetto Corsa</value>
      </setting>
      <setting name="ServerPath" serializeAs="String">
        <value>D:\Program Files (x86)\Assetto Corsa\server</value>
      </setting>
      <setting name="LastPreset" serializeAs="String">
        <value />
      </setting>
      <setting name="UseRename" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableServerFeature" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SteamID" serializeAs="String">
        <value />
      </setting>
      <setting name="PlayerName" serializeAs="String">
        <value>PLAYER1</value>
      </setting>
      <setting name="LastServer" serializeAs="String">
        <value />
      </setting>
      <setting name="CarFirstSeen" serializeAs="String">
        <value />
      </setting>
      <setting name="TracksFirstSeen" serializeAs="String">
        <value />
      </setting>
      <setting name="LastModsDays" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="LastServerListSettings" serializeAs="String">
        <value />
      </setting>
    </LauncherLight.Properties.Settings>
  </userSettings>
</configuration>